<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Basics (Good)</span></div>

## 1 More Python Basics

### 1.1 Computers read = from Right to Left!

In [3]:
x = 40
y = x + 2
print(y)

42

In [4]:
y = 40
y = y + 2 #python takes the previously registered value of y(40) and adds 2 to it, before making that the new value of y
print(y)

42

In [7]:
x = y = 10 #note that python also uses the following syntax
print(y)

10

In [8]:
x = y = 10
print(x)

10

## 1.2 Shorter and cleaner

In [10]:
y = 40
y += 2    # Same as y = y + 2
y

42

In [11]:
y = 40
y -= 2     # Same as y = y - 2
y

38

In [12]:
y = 40
y /= 2    # Same as y = y/2
y

20.0

In [13]:
y = 40
y *= 2    # Same as y = y * 2
y

80

In [3]:
y = 2
y /= 55
y

0.03636363636363636

### 1.3 Asking questions

In [15]:

fruits = ["apple", "banana", "pineapple", "jackfruit"]
vegetables = ["celery", "potato", "broccoli", "kale"]

"apple" in fruits

True

In [16]:
print(fruits)

['apple', 'banana', 'pineapple', 'jackfruit']

In [17]:
"peach" in fruits

False

In [18]:
"peach" not in fruits

True

In [19]:
("apple" in fruits) and ("celery" in vegetables)

True

In [20]:
("apple" in fruits) or ("celery" in vegetables)

True

In [21]:
("orange" in fruits) and ("celery" in vegetables)

False

In [22]:
("orange" in fruits) or ("celery" in vegetables)

True

In [1]:
'apples' > 'oranges'

False

In [2]:
'apples' != 'oranges'

True

In [3]:
87>85

True

In [4]:
85>=55

True

In [12]:
(x > 5) and (x < 15)

True

In [8]:
X=7 #remember that python is case sensitive

In [11]:
x=7 #you have to define the variable first before you check its value
5 < x < 15

True

In [9]:
print('a' > 'o')
print('ao' > 'oa')
print('aoooooo' > 'oaaaaaa')
print('ao' == 'oa')
print('aa' > 'ao')
print('aa' < 'ao')
print('aaa' < 'aao')

False
False
False
False
False
True
True

### 1.4 There is more to if

In [17]:

name = 'Superman'

if name == 'Batman':
    print('Hello Hero | Batman!')
elif name == 'Robin':
    print('Hello Sidekick | Robin!') 
else:
    print('Hello World!')

Hello World!

### 1.5 Python stores information in different formats or types.

In [32]:
x = int(1.234) #storing the info as an integer, dropping the decimal points
print(x, type(x))

1 <class 'int'>

In [33]:
x = str(1.234) #storing the info as an English word
print(x, type(x))

1.234 <class 'str'>

In [34]:
x = float(1.234) #storing the info as a decimal(float)
print(x, type(x))

1.234 <class 'float'>

In [35]:
x = complex(1.234) #storing the info as a complex number. This will include the imaginary part of the number
print(x, type(x))

(1.234+0j) <class 'complex'>

In [36]:
x = '1.234'
print(x, type(x))

1.234 <class 'str'>

In [39]:
x = 1.234
x = int(x)
print(x, type(x))

1 <class 'int'>

In [40]:
x = float(x) #x loses it decimal place values when it is converted to integer type)
print(x, type(x))

1.0 <class 'float'>

### 1.6 Combining English and variables

In [41]:
name = "Batman"
print(f"Hello {name}!")

Hello Batman!

In [42]:
name = "Batman"
print("Hello {name}!") # is the purpose of the letter 'f' to indicate that you want to combine english and variables?

Hello {name}!

In [44]:
name = "Batman"
print(f"Hello {name.upper()}!") #uppercase

Hello BATMAN!

In [45]:
x = 10
print(f"The value of {x} squared is {x**2}!") #anything within the inverted commas is english, variables are in curly brackets

The value of 10 squared is 100!

In [ ]:
#the combination of f and the curly brackets is called f-string or string interpolation

In [55]:
text = 'Bruce Wayne is billionare'
print(f'{text}')

Bruce Wayne is billionare

In [56]:
print(f'{text:>30}')      # A block of 30 characters; aligned right

     Bruce Wayne is billionare

In [57]:
print(f'{text:^30}')      # A block of 30 characters; aligned centre

  Bruce Wayne is billionare

In [49]:
print(f'{text:<30}')      # A block of 30 characters; aligned left

Bruce Wayne is Batman.

In [59]:
print(f'{text:>30}in this dimension')

     Bruce Wayne is billionarein this dimension

In [58]:
print(f'{text:^30}in this dimension')

  Bruce Wayne is billionare   in this dimension

In [60]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}') 
#the f in 6f is used to tell the f string to output the number in decimal notation

The cube of pi to 6 decimal places is 31.006277

In [62]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6e}')
#the e in 6e is used to tell the f string to output the number in decimal notation

The cube of pi to 6 decimal places is 3.100628e+01

In [14]:
x = np.pi
print(f'The value of pi is {x}.')
print(f'The square of pi is {x**2}.')
print(f'The cube of pi is {x**3}.')
print(f'pi to the power of six is {x**6}')

The value of pi is 3.141592653589793.
The square of pi is 9.869604401089358.
The cube of pi is 31.006276680299816.
pi to the power of six is 961.3891935753043

### 1.7 Python can be a prima-donna.

In [ ]:

# Your code here

## 2 Best Practices for Scientific Computing

### 2.1 Some tips

In [ ]:

# Your code here

### 2.2 Getting help.

In [ ]:

# Your code here

## Exercise 1 :  Bias for some heroes

In [67]:
def hello(name):
    if name == "Batman":
        print("Hello Batman!")
    else:
        print("Hello World!")

In [71]:
hello("Batman")

Hello Batman!

In [72]:
hello("black widow")

Hello World!

In [100]:
def hello(name):
    if name == "Batman":
        print(f"Hello {name.upper()}!")
    elif name == "Black Widow":
        print(f"Hello {name.upper()}!")
    else:
        print("Hello World!")

In [101]:
hello("Batman")
hello("Black Widow")
hello("aquaman")

Hello BATMAN!
Hello BLACK WIDOW!
Hello World!

In [108]:
def hello(name):
    if name == "Batman" or name == "Black Widow":
        print(f"Hello {name.upper()}!")
    else:
        print("Hello World!")

In [109]:
hello("Batman")
hello("Black Widow")
hello("aquamaan")

Hello BATMAN!
Hello BLACK WIDOW!
Hello World!

## Exercise 2 :  Bias for some heroes, continues

In [131]:
def hello(name):
    if name.upper() == "BATMAN" or name.lower() == "black widow": #== checks if left=right. if left=right, it is TRUE,
        print(f"Hello {name.upper()}!")        #so it moves on to next line
    else:
        print("Hello World!")

hello("bAtman")
hello("blAck wIdOw")
hello("aquaman")

Hello BATMAN!
Hello BLACK WIDOW!
Hello World!

In [126]:
def hello(name):
    if name.lower() == "batman": 
        print(f"Hello {name.upper()}!")
    elif name.upper() == "BLACK WIDOW":
        print(f"Hello {name.upper()}!")
    else:
        print("Hello World!")

hello("bAtman")
hello("blAck wIdOw")
hello("aquaman")

Hello BATMAN!
Hello BLACK WIDOW!
Hello World!

In [16]:
def hello(name):
    name = name.lower() # this is a more efficient way of writing your code since you fix the case of the words beforehand
    if name == "batman" or name == "black widow":
        print(f"Hello {name}!")
    else:
        print("Hello World!")

hello("bAtman")
hello("blAck wIdOw")
hello("aquaman")

Hello batman!
Hello black widow!
Hello World!

## Exercise 3 :  Look for help to replace

In [117]:
str = 'The Joker lives in Gotham City.'
str_replace = str.replace("Joker", "Batman")
print(str_replace)

The Batman lives in Gotham City.

In [118]:
str = "Fred fed Ted bread and Ted fed Fred bread." #reference from online
strreplace = str.replace("Ted", "xx", 1) #the number indicates the number of times you want it replaced
print("String after replacing: " + strreplace)

String after replacing: Fred fed xx bread and Ted fed Fred bread.

In [116]:
x =10 
print(x) #adding quotation marks will not work because it will just read x as a string and not the variable that you defined

10

In [127]:
str = "She sells sea shells on the sea shore"
replacement = str.replace("sea", "land")
print(replacement)

She sells land shells on the land shore

In [129]:
str = "She sells sea shells on the sea shore"
replacement = str.replace("sh", "AAA")
print(replacement)

She sells sea AAAells on the sea AAAore

In [130]:
str = "She sells sea shells on the sea shore"
replacement = str.replace("sea", "land", 1)
print(replacement)

She sells land shells on the sea shore